* {
    box-sizing: border-box;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

#botaoHome {
    width: 1282;
    height: 99;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 62px;
    border: none;
    border-radius: 20px;
    background-color: #92BDF7;
    color: black;
    font-size: 24px;
    text-align: center;
}

#insira {
    margin-top: 105px;
    font-size: 36px;
    text-align: center;
}

#voce {
    font-size: 15px;
    text-align: center;
}

#form {
    text-align: center;
    font-size: 14px;
}

#botaoEnviar {
    border: none;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 4px 0 #ccc;
    width: 530px;
    height: 38px;
    background-color: #92BDF7;
}


#hrStyle {
    width: 525px;
}

#ainda {
    font-size: 15px;
    text-align: center;
    margin-top: 17px;
}