

h3{
    font-weight: 600;
    
}
img{
    width: 13px;
}
.main{
    background-color:  #a7e3e38a;
    border-radius: 20px;
    padding: 2em;
}
.carta{
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 2em;
    padding: 2em;
}
.conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.perfil{
    display: flex;
    gap: 1em;
}
.doutora div{
    margin-bottom: 2em;
}
.doutora  .p1 {
    font-size: 14px; 
}

.doutora  .p2 {
    font-size: 13px; 
}

.doutora .p3 {
    font-size: 11px; 
}
.doutoraimg{
    width: 130px;
    height: 130px;
}
.doutora h5{
    font-weight: 600;
}

.datas{
    display: flex;
    gap: 2em;
    overflow-x: hidden;
    white-space: nowrap;
}
/* Para navegadores baseados no Chromium (Chrome, Edge) */
.datas1{
    display: flex;
    gap: 2em;
    overflow-x: hidden;
    white-space: nowrap;
}

.datas h5{
    text-align: center;
}
.datas p{
    padding: 0 5px;
    text-align: center;
}
.datas p:hover{
    border-radius: 20px;
    background-color: #A7E3E3;
}

.agendar{
border-left: 1px solid #D9D9D9;
width: 45%;
padding: 0 0 0 2em;

}
.seta {
    width: 20px; /* Ajuste conforme necessário */
    height: auto; /* Ajuste conforme necessário */
    cursor: pointer; /* Adiciona o cursor pointer para indicar que é clicável */
    margin-top: 20px; /* Adapte conforme necessário para alinhar com as datas */
}

.button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}
.button button{
    background: #FF725E;
    border: none;
    padding: .5em 1em;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    
}

.modalAgendar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000005d;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.off{
    display: none;
}
.modal{
    background-color: #fff;
    border-radius: 20px;
    width: 70%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.perfilModal{
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
}
.calendario{
    width: 150px;
    height: 150px;
}
.titlemodal{
    text-align: center;
    margin-bottom: 1em;
}

.titlemodal p{
    font-size: 12px;
}

.dataAgendamento{
    display: flex;
    align-items: center;
    gap: .5em;
    width: 230px;
}
.dataAgendamento p{
   font-size: 12px;
}
.dataEnderecamento{
    display: flex;
    align-items: center;
    gap: .5em;
    width: 230px;
}
.dataEnderecamento p{
    font-size: 10px;
 }
 .doutoraModal div{
    margin-bottom: .5em;
 }
 .buttonsModal{
    display: flex;
    width: 40%;
    justify-content: space-between;

 }

 .buttonConfirmar{
    background: #FF725E;
    border: none;
    padding: .5em 2em;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
 }
 .buttonCancelar{
    border: 1px solid #040404;
    cursor: pointer;
    background: #fff;
    padding: .5em 2em;
    border-radius: 10px;
 }
 .buttonConfirmar a{
    color: #fff;
 }
